Mre.Externos/Mre.Externos/Connected Services/ServiceReferenceComun/ServiceComun.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceComun" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.139.33/MREMH.ServiciosEsigexVisasRegularizacion.ServiceInterno/ServiceComun.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.139.33/MREMH.ServiciosEsigexVisasRegularizacion.ServiceInterno/ServiceComun.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.139.33/MREMH.ServiciosEsigexVisasRegularizacion.ServiceInterno/ServiceComun.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mre.Sicof.CuentasConsulares.Business.Entity" />
      <xsd:import schemaLocation="http://192.168.139.33/MREMH.ServiciosEsigexVisasRegularizacion.ServiceInterno/ServiceComun.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MREMH.ServiciosEsigexVisasRegularizacion.Logica.ReferenciaMantenimientosAsuntosMigratoriosWs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceComun_TraerListaEntidadesAuspiciantesPorVisa_InputMessage">
    <wsdl:part name="parameters" element="tns:TraerListaEntidadesAuspiciantesPorVisa" />
  </wsdl:message>
  <wsdl:message name="IServiceComun_TraerListaEntidadesAuspiciantesPorVisa_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraerListaEntidadesAuspiciantesPorVisaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceComun_ObtenerActividadesPorTipoVisa_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerActividadesPorTipoVisa" />
  </wsdl:message>
  <wsdl:message name="IServiceComun_ObtenerActividadesPorTipoVisa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerActividadesPorTipoVisaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceComun_TraerRequisitosVisasPorActoConsular_InputMessage">
    <wsdl:part name="parameters" element="tns:TraerRequisitosVisasPorActoConsular" />
  </wsdl:message>
  <wsdl:message name="IServiceComun_TraerRequisitosVisasPorActoConsular_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraerRequisitosVisasPorActoConsularResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceComun">
    <wsdl:operation name="TraerListaEntidadesAuspiciantesPorVisa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceComun/TraerListaEntidadesAuspiciantesPorVisa" message="tns:IServiceComun_TraerListaEntidadesAuspiciantesPorVisa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceComun/TraerListaEntidadesAuspiciantesPorVisaResponse" message="tns:IServiceComun_TraerListaEntidadesAuspiciantesPorVisa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerActividadesPorTipoVisa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceComun/ObtenerActividadesPorTipoVisa" message="tns:IServiceComun_ObtenerActividadesPorTipoVisa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceComun/ObtenerActividadesPorTipoVisaResponse" message="tns:IServiceComun_ObtenerActividadesPorTipoVisa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraerRequisitosVisasPorActoConsular">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceComun/TraerRequisitosVisasPorActoConsular" message="tns:IServiceComun_TraerRequisitosVisasPorActoConsular_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceComun/TraerRequisitosVisasPorActoConsularResponse" message="tns:IServiceComun_TraerRequisitosVisasPorActoConsular_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceComun" type="tns:IServiceComun">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraerListaEntidadesAuspiciantesPorVisa">
      <soap:operation soapAction="http://tempuri.org/IServiceComun/TraerListaEntidadesAuspiciantesPorVisa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerActividadesPorTipoVisa">
      <soap:operation soapAction="http://tempuri.org/IServiceComun/ObtenerActividadesPorTipoVisa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerRequisitosVisasPorActoConsular">
      <soap:operation soapAction="http://tempuri.org/IServiceComun/TraerRequisitosVisasPorActoConsular" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceComun">
    <wsdl:port name="BasicHttpBinding_IServiceComun" binding="tns:BasicHttpBinding_IServiceComun">
      <soap:address location="http://192.168.139.33/MREMH.ServiciosEsigexVisasRegularizacion.ServiceInterno/ServiceComun.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>