Mre.Externos/Mre.Externos/Connected Services/ServiceReferenceComun/ServiceComun1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mre.Sicof.CuentasConsulares.Business.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mre.Sicof.CuentasConsulares.Business.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEntidadAuspicianteCentroAdministrativo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntidadAuspicianteCentroAdministrativo" nillable="true" type="tns:EntidadAuspicianteCentroAdministrativo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntidadAuspicianteCentroAdministrativo" nillable="true" type="tns:ArrayOfEntidadAuspicianteCentroAdministrativo" />
  <xs:complexType name="EntidadAuspicianteCentroAdministrativo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntidadAuspicianteCentroAdministrativoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntidadAuspicianteCentroAdministrativo" nillable="true" type="tns:EntidadAuspicianteCentroAdministrativo" />
  <xs:complexType name="EntidadAuspicianteCentroAdministrativoBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdEntidadAuspiciante" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntidadAuspicianteCentroAdministrativoBase" nillable="true" type="tns:EntidadAuspicianteCentroAdministrativoBase" />
  <xs:complexType name="ArrayOfRequisito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Requisito" nillable="true" type="tns:Requisito" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequisito" nillable="true" type="tns:ArrayOfRequisito" />
  <xs:complexType name="Requisito">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequisitoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Requisito" nillable="true" type="tns:Requisito" />
  <xs:complexType name="RequisitoBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EntidadActiva" type="xs:boolean" />
          <xs:element minOccurs="0" name="IdActoConsular" type="xs:int" />
          <xs:element minOccurs="0" name="IdRequisito" type="xs:int" />
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VersionFila" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequisitoBase" nillable="true" type="tns:RequisitoBase" />
  <xs:complexType name="EntityBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBaseCore">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityBase" nillable="true" type="tns:EntityBase" />
  <xs:complexType name="EntityBaseCore">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntityState" type="tns:EntityState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityBaseCore" nillable="true" type="tns:EntityBaseCore" />
  <xs:simpleType name="EntityState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unchanged" />
      <xs:enumeration value="Added" />
      <xs:enumeration value="Changed" />
      <xs:enumeration value="Deleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EntityState" nillable="true" type="tns:EntityState" />
</xs:schema>