Mre.Externos/Mre.Externos/Connected Services/ServiceReferenceEsigex/ServiceEsigex.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceEsigex" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.139.33/MREMH.ServiciosEsigexVisasRegularizacion.ServiceInterno/ServiceEsigex.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.139.33/MREMH.ServiciosEsigexVisasRegularizacion.ServiceInterno/ServiceEsigex.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.139.33/MREMH.ServiciosEsigexVisasRegularizacion.ServiceInterno/ServiceEsigex.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MREMH.ServiciosEsigexVisasRegularizacion.Entidad" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceEsigex_BuscarVisaPorNumero_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarVisaPorNumero" />
  </wsdl:message>
  <wsdl:message name="IServiceEsigex_BuscarVisaPorNumero_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarVisaPorNumeroResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEsigex_BuscarVisaPorDatosPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarVisaPorDatosPersona" />
  </wsdl:message>
  <wsdl:message name="IServiceEsigex_BuscarVisaPorDatosPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarVisaPorDatosPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEsigex_GuardarCancelacionPorOficioVisas_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarCancelacionPorOficioVisas" />
  </wsdl:message>
  <wsdl:message name="IServiceEsigex_GuardarCancelacionPorOficioVisas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarCancelacionPorOficioVisasResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceEsigex">
    <wsdl:operation name="BuscarVisaPorNumero">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEsigex/BuscarVisaPorNumero" message="tns:IServiceEsigex_BuscarVisaPorNumero_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEsigex/BuscarVisaPorNumeroResponse" message="tns:IServiceEsigex_BuscarVisaPorNumero_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarVisaPorDatosPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEsigex/BuscarVisaPorDatosPersona" message="tns:IServiceEsigex_BuscarVisaPorDatosPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEsigex/BuscarVisaPorDatosPersonaResponse" message="tns:IServiceEsigex_BuscarVisaPorDatosPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarCancelacionPorOficioVisas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEsigex/GuardarCancelacionPorOficioVisas" message="tns:IServiceEsigex_GuardarCancelacionPorOficioVisas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEsigex/GuardarCancelacionPorOficioVisasResponse" message="tns:IServiceEsigex_GuardarCancelacionPorOficioVisas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceEsigex" type="tns:IServiceEsigex">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarVisaPorNumero">
      <soap:operation soapAction="http://tempuri.org/IServiceEsigex/BuscarVisaPorNumero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarVisaPorDatosPersona">
      <soap:operation soapAction="http://tempuri.org/IServiceEsigex/BuscarVisaPorDatosPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarCancelacionPorOficioVisas">
      <soap:operation soapAction="http://tempuri.org/IServiceEsigex/GuardarCancelacionPorOficioVisas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceEsigex">
    <wsdl:port name="BasicHttpBinding_IServiceEsigex" binding="tns:BasicHttpBinding_IServiceEsigex">
      <soap:address location="http://192.168.139.33/MREMH.ServiciosEsigexVisasRegularizacion.ServiceInterno/ServiceEsigex.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>